In [1]:
import numpy as np
import pandas as pd

from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score

In [2]:
df = pd.read_csv("data.tsv",delimiter="\t", header=None)
df.head()

       0         1            2         3         4      5
0  100.0  2.000000   477.750000  3.464102  3.464102     10
1   50.0  4.250000   975.496844  1.477098  1.596796  10001
2  100.0  3.214286  3747.113679  1.022928  0.984565  15577
3  100.0  3.153846  4906.374000  0.831080  0.858073  22042
4  100.0  4.000000   132.100000  3.464102  3.464102  22227

In [3]:
data = df.values
data.shape

(1701, 6)

In [4]:
data = data / data.max(axis=0)
data.shape

(1701, 6)

In [5]:
def min_dist(clusters):
    m_d = 10000000
    for c1 in clusters:
        for c2 in clusters:
            if not c2 == c1:
                for x1 in clusters[c1]:
                    for x2 in clusters[c2]:
                        d = np.linalg.norm(x1-x2)
                        if d < m_d:
                            m_d = d
                    
    return m_d

def max_dist(clusters):
    m_d = 0
    for c1 in clusters:
        for c2 in clusters:
            if not c2 == c1:
                for x1 in clusters[c1]:
                    for x2 in clusters[c2]:
                        d = np.linalg.norm(x1-x2)
                        if d > m_d:
                            m_d = d
                    
    return m_d

def dunn(clusters):
    return min_dist(clusters)/max_dist(clusters)

In [6]:
import math

def Siq(w,X,q=2):
    return math.pow(np.mean([np.linalg.norm(x-w,q) \
                             for x in X]),1/q)

def Dijt(wi,wj,t=2):
    return np.linalg.norm(wi-wj,t)

def Riqt(clusters,centroids,i,q=2,t=2):
    return max(\
           [(Siq(centroids[i],clusters[i],q) +\
            Siq(centroids[j],clusters[j],q))\
            /Dijt(centroids[i],centroids[j],t) for \
              j in clusters.keys()-[i]])

def davies_bouldin(clusters,centroids):
    rs = [\
            Riqt(clusters,centroids,i) for \
            i in clusters]
    
    return np.mean(rs)

In [7]:
def Bk(centroids,nis,m):
    n = m.shape[0]
    bk = np.zeros((n,n))
    for c,ni in zip(centroids,nis):
        z = (c-m).reshape((1,n))
        bk += ni* (z.T * z)
        
    return bk

def Wk(clusters, centroids):
    n = centroids.shape[1]
    wk = np.zeros((n,n))
    
    for i in clusters:
        for x in clusters[i]:
            z = (x-centroids[i]).reshape(1,n)
            wk += z.T * z
            
    return wk

def calinski_harabasz(clusters, centroids,m):
    k = len(centroids)
    nis = [clusters[i].shape[0] for i in range(k)]

    bk = Bk(centroids,nis,m)
    
    wk = Wk(clusters, centroids)
    
    n = sum(nis)
    
    return (np.trace(bk)/(k-1))/(np.trace(wk)/(n-k))

In [8]:
df = []
m = np.mean(data,axis=0)
models = {}
for k in range(2,11):
    model = KMeans(n_clusters=k)
    clusters = {i: [] for i in range(k)}
    
    y = model.fit_predict(data)
    models[k] = model
    
    for c,x in zip(y,data):
        clusters[c].append(x)
        
    for c in clusters:
        clusters[c] = np.array(clusters[c])
    
    df.append({
        "1-K":k,
        "2-Dunn": dunn(clusters),
        "3-DB": davies_bouldin(clusters,model.cluster_centers_),
        "4-CH":calinski_harabasz(clusters,model.cluster_centers_,m),
        "5-SL":silhouette_score(data,y)
    })
        
df = pd.DataFrame(df)
df

   1-K    2-Dunn      3-DB         4-CH      5-SL
0    2  0.370576  1.359383  1917.547799  0.541584
1    3  0.015598  1.065287  2150.362182  0.587314
2    4  0.015452  1.075249  4325.263200  0.658898
3    5  0.010790  1.363054  4720.415403  0.653328
4    6  0.010790  1.509995  6460.105474  0.652840
5    7  0.006532  1.743611  6656.942135  0.640673
6    8  0.006532  1.883052  6874.657130  0.624277
7    9  0.006532  1.805076  7001.546239  0.631121
8   10  0.009974  2.062657  6942.918473  0.614515

In [9]:
df.style.background_gradient(cmap="Blues")

In [10]:
k = 4
model = models[k]
print("{} clusters:".format(k))

y = model.predict(data)

for c in range(k):
    d = data[y==c]
    stats_df = pd.DataFrame(d)
    print("\nC{} - {}\n".format(c, model.cluster_centers_[c]))
    print(stats_df.describe())

4 clusters:

C0 - [ 0.98284026  0.06229374  0.0290211   0.34959959  0.38158544  0.02654103]

                0           1           2           3           4           5
count  428.000000  428.000000  428.000000  428.000000  428.000000  428.000000
mean     0.982840    0.062294    0.029021    0.349600    0.381585    0.026541
std      0.074329    0.067237    0.075057    0.130558    0.136900    0.027271
min      0.250000    0.000000    0.001338    0.060074    0.078269    0.001001
25%      1.000000    0.034404    0.003921    0.248633    0.279109    0.008391
50%      1.000000    0.044500    0.007545    0.356753    0.389249    0.013594
75%      1.000000    0.066055    0.022249    0.460566    0.501039    0.029302
max      1.000000    1.000000    1.000000    0.593526    0.714286    0.097637

C1 - [ 0.99391971  0.0584906   0.01258958  0.43727342  0.4554304   0.93945604]

               0           1           2           3           4           5
count  552.00000  552.000000  552.000000  552.000000  552.000000  552.000000
mean     0.99392    0.058491    0.012590    0.437273    0.455430    0.939456
std      0.03817    0.031811    0.019969    0.161651    0.162224    0.022430
min      0.50000    0.000000    0.001269    0.110777    0.122776    0.800410
25%      1.00000    0.041284    0.002628    0.301511    0.324606    0.934664
50%      1.00000    0.052294    0.005835    0.426401    0.434258    0.937483
75%      1.00000    0.068807    0.013172    0.564076    0.577350    0.950714
max      1.00000    0.337156    0.212861    0.717741    0.768538    0.990543

C2 - [ 0.99002176  0.05644289  0.00209818  0.88502816  0.89588167  0.02365278]

                0           1           2           3           4           5
count  383.000000  383.000000  383.000000  383.000000  383.000000  383.000000
mean     0.990022    0.056443    0.002098    0.885028    0.895882    0.023653
std      0.084198    0.055188    0.004543    0.154738    0.143877    0.027805
min      0.000000    0.013761    0.000326    0.564076    0.674200    0.000001
25%      1.000000    0.027523    0.000503    0.674200    0.717741    0.008340
50%      1.000000    0.041284    0.000899    1.000000    1.000000    0.013056
75%      1.000000    0.061927    0.001719    1.000000    1.000000    0.013840
max      1.000000    0.811927    0.057802    1.000000    1.000000    0.097668

C3 - [ 1.          0.0527489   0.00209837  0.98895213  0.99295975  0.93001803]

           0           1           2           3           4           5
count  338.0  338.000000  338.000000  338.000000  338.000000  338.000000
mean     1.0    0.052749    0.002098    0.988952    0.992960    0.930018
std      0.0    0.043921    0.002711    0.055774    0.037201    0.043302
min      1.0    0.013761    0.000387    0.674200    0.744803    0.800400
25%      1.0    0.027523    0.000661    1.000000    1.000000    0.932146
50%      1.0    0.041284    0.001014    1.000000    1.000000    0.937999
75%      1.0    0.068807    0.002025    1.000000    1.000000    0.950897
max      1.0    0.509174    0.016316    1.000000    1.000000    1.000000